@model saru_ecommerce.Models.User

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar novo Usuário</h1>

<div class="row">
    <div class="col-6">
        <form asp-action="Create">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control">
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control">
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control">
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control">
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control">
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control">
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumberPrimary" class="control-label"></label>
                <input asp-for="PhoneNumberPrimary" class="form-control">
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumberSecondary" class="control-label"></label>
                <input asp-for="PhoneNumberSecondary" class="form-control">
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-warning" value="Salvar">
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptPartial");}
} *@