@model saru_ecommerce.Models.UserViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar novo Usuário</h1>

<div class="container mt-3">
    <div class="row">
        <div class="col-3 border-right">
            <h3>Entrar</h3>
            <form class="signin-form">
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Lembrar de mim</label>
                </div>
                <a href="user_purchases.php" class="btn btn-primary">Entrar</a>
                <!-- <button type="submit" class="btn btn-primary">Entrar</button> -->
            </form>
        </div>
        <div class="col-9">
            <form asp-action="Create" id="signup-form">
                <div class="form-row">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <label asp-for="user.Name" class="control-label"></label>
                        <input asp-for="user.Name" class="form-control">
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="user.Email" class="control-label"></label>
                        <input asp-for="user.Email" class="form-control">
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="user.Cpf" class="control-label"></label>
                        <input asp-for="user.Cpf" class="form-control">
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="user.BirthDate" class="control-label"></label>
                        <input asp-for="user.BirthDate" class="form-control">
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="user.Gender" class="control-label"></label>
                        <input asp-for="user.Gender" class="form-control">
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="user.Password" class="control-label"></label>
                        <input asp-for="user.Password" class="form-control">
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="user.PhoneNumberPrimary" class="control-label"></label>
                        <input asp-for="user.PhoneNumberPrimary" class="form-control">
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="user.PhoneNumberSecondary" class="control-label"></label>
                        <input asp-for="user.PhoneNumberSecondary" class="form-control">
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="address.Description" class="control-label"></label>
                        <input asp-for="address.Description" class="form-control">
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="address.Address" class="control-label"></label>
                        <input asp-for="address.Address" class="form-control">
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="address.Number" class="control-label"></label>
                        <input asp-for="address.Number" class="form-control">
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="address.Neighborhood" class="control-label"></label>
                        <input asp-for="address.Neighborhood" class="form-control">
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="address.City" class="control-label"></label>
                        <input asp-for="address.City" class="form-control">
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="address.State" class="control-label"></label>
                        <input asp-for="address.State" class="form-control">
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="address.Complement" class="control-label"></label>
                        <input asp-for="address.Complement" class="form-control">
                        <span class="text-danger"></span>
                    </div>      
                    <div class="form-group">
                        <input type="submit" class="btn btn-warning" value="Salvar">
                    </div>
                  
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptPartial");}
} *@